<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>read</servlet-name>
        <servlet-class>read</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grayscale</servlet-name>
        <servlet-class>grayscale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>binarize</servlet-name>
        <servlet-class>binarize</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>read</servlet-name>
        <url-pattern>/read</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grayscale</servlet-name>
        <url-pattern>/grayscale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>binarize</servlet-name>
        <url-pattern>/binarize</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
